<!-- 会员卡页面 -->
<div class="pages">
	<div data-page="saleRetail_memberCard_list" class="page">

		<!--搜索栏-->
		<form class="searchbar searchbar-init" data-custom-search="true">
			<div class="searchbar-input">
				<input v-model="request.query.memberCardNo" type="search" placeholder="会员卡号">
				<a href="#" class="searchbar-clear">
				</a>
			</div>
			<a v-on:click="refresh" href="#" class="searchbar-cancel">检索</a>
		</form>

		<div class="searchbar-overlay"></div>

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="back link">
						<i class="icon iconfont icon-fanhui"></i>
					</a>
				</div>
				<div class="center sliding">会员卡({{response.total}})</div>
				<div class="right">
					<a v-on:click="query" href="#" class="link">
						<i class="icon iconfont icon-filter"></i>
					</a>
					<a href="saleRetail/memberCard/add.ios.html" class="link">
						<i class="icon iconfont icon-add"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="page-content pull-to-refresh-content">

			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>

			<div class="list-block media-list">
				<div v-for="row in response.data">
					<div class="content-block-title" v-if="row.value&&row.value.length>0">{{row.time | date}}</div>
				<ul>
					<li v-for="item in row.value" class="swipeout">
						<div class="swipeout-content">
							<a href="saleRetail/memberCard/detail.ios.html?memberCardId={{item.memberCardId}}" class="item-link item-content" v-on:tapHold="showMenu(item)">
								<div class="item-media">
									<img :src="item.userLogo" style="width:64px;height:64px;">
								</div>
								<div class="item-inner" style="border-bottom:1px solid #ddd;">
									<div class="item-title-row">
										<div class="item-title">{{item.member_MemberName}}</div>
										<div class="item-after">{{item.tradeSummary_TotalConsumption | currency}}</div>
									</div>
									<div class="item-subtitle">
										<div>卡号:<span>{{item.memberCardNo}}</span></div>
									</div>
									<div class="item-text">
										<div>建卡日期:<span>{{item.createTime | date}}</span></div>
										<div>出生日期:<span>{{item.member_Birthday | date}}</span></div>
									</div>
								</div>
							</a>
						</div>
					</li>
				</ul>
				</div>
			</div>
			<div>
				<load-more :total="response.total" :data="response.data" v-on:load="load"></load-more>
			</div>

		</div>
	</div>
</div>