<div class="pages">
  <div data-page="warehouse_profitLossOrder_detail" class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link"> 
           <i class="icon icon-back"></i>
           返回
          </a>
        </div>
        <div class="center sliding">益损订单详情</div>
        <div class="right">
          <a href="warehouse/common/print.ios.html?orderType=profitLoss&orderId={{response.data.profitLossOrderId}}" class="link"> 
           打印
          </a>
          <a href="warehouse/profitlossOrder/add.ios.html?profitLossOrderId={{response.data.profitLossOrderId}}" class="link"> 
           复制
          </a>
        </div>
      </div>
    </div>
    <div class="page-content pull-to-refresh-content">
        <div class="pull-to-refresh-layer">
          <div class="preloader"></div>
          <div class="pull-to-refresh-arrow"></div>
        </div>

         <div class="card">
          <div class="card-header">益损基本信息</div>
          <div class="card-content">
              <div class="card-content-inner">
                <div class="list-block">
                  <ul>
                    <li>
                      <div href="#" class="item-content">
                        <div class="item-media">
                          <i class="fa fa-key"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title"> 益损单号</div>
                          <div class="item-after">{{response.data.profitLossOrderNo}}</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div href="#" class="item-content">
                        <div class="item-media">
                          <i class="fa fa-key"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title"> 原始单号</div>
                          <div class="item-after">{{response.data.sourceOrderNo}}</div>
                        </div>
                      </div>
                    </li>                                      
                    <li>
                      <div href="#" class="item-content">
                        <div class="item-media">
                          <i class="fa fa-calendar"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title"> 益损日期</div>
                          <div class="item-after">{{response.data.profitLossDate | date}}</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div href="#" class="item-content">
                        <div class="item-media">
                          <i class="fa fa-calendar"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title"> 益损总数</div>
                          <div class="item-after">{{response.data.detailSummary.profitLossAmount}}</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div href="#" class="item-content">
                        <div class="item-media">
                          <i class="fa fa-calendar"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title"> 益损总额</div>
                          <div class="item-after">{{response.data.detailSummary.profitLossMoney | currency}}</div>
                        </div>
                      </div>
                    </li>
                    <li v-if="response.data.sponsorName">
                      <div href="#" class="item-content">
                        <div class="item-media">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">  经手人</div>
                          <div class="item-after">{{response.data.sponsorName}}</div>
                        </div>
                      </div>
                    </li>
                    <li v-if="response.data.creatorName">
                      <div class="item-content">
                        <div class="item-media">
                           <i class="fa fa-user-circle"></i>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">  制单人</div>
                          <div class="item-after">{{response.data.creatorName}}</div>
                        </div>
                      </div>
                    </li>
                    <li v-if="response.data.submitTime">
                      <div class="item-content">
                        <div class="item-media">
                          <i class="fa fa-clock-o"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title"> 提交时间</div>
                          <div class="item-after">{{response.data.submitTime | dateTime}}</div>
                        </div>
                      </div>
                    </li>
                    <li v-if="response.data.auditorName">
                      <div class="item-content">
                        <div class="item-media">
                           <i class="fa fa-user-circle"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title">审核人</div>
                          <div class="item-after">{{response.data.auditorName}}</div>
                        </div>
                      </div>
                    </li>
                    <li v-if="response.data.auditTime">
                      <div class="item-content">
                        <div class="item-media">
                          <i class="fa fa-clock-o"></i> 
                        </div>
                        <div class="item-inner">
                          <div class="item-title"> 审核时间</div>
                          <div class="item-after">{{response.data.auditTime | dateTime}}</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          </div>

      <div class="card">
          <div class="card-header">益损货品信息</div>
          <div class="card-content">
              <div class="card-content-inner">
                <div class="list-block media-list">
                  <ul>                      
                    <li v-for="item in response.data.detailList">
                      <a href="kind/kindDetail.ios.html?kindId={{item.kindId}}" class="item-content item-link">
                        <div class="item-media">
                          <kind-img :kind-id="item.kindId" :color-id="item.colorId"></kind-img>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">{{item.kindName}}</div>
                            <div class="item-after">  
                              {{item.profitLossMoney|currency}}
                            </div>
                          </div>
                          <div class="item-subtitle">                           
                            {{item.brandName}}
                          </div>
                          <div class="item-text">
                            <div>
                              货号:<span>{{item.kindNo}}</span>  |
                              颜色:<span>{{item.colorName}}</span>  |
                              尺码:<span>{{item.sizeText}}</span>  |
                              单位:<span>{{item.unitName}}</span>
                            </div>
                            <div>
                              成本价:<span>{{item.retailPrice|currency}}</span>  |
                              数量:<span>{{item.profitLossAmount}}</span> 
                              总额:<span>{{item.profitLossMoney|currency}}</span>
                              库存:<span>{{item.inventory}}</span> 
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>