
<div class="pages">
  <div data-page="saleBatch_receiptOrder_update" class="page">
    
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" v-on:click="back" class="back link">
             <i class="icon iconfont icon-fanhui"></i>
          </a>
        </div>
        <div class="center sliding">收款单编辑</div>
        <div class="right">
          <a href="#" v-on:click="save" class="link">
            <i class="icon iconfont icon-save1"></i>
          </a>
        </div>
      </div>
    </div>
  
    <div class="page-content">
      <div class="content-block-title">收款单信息</div>
      <div class="list-block ">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  客户
                </div>
                <div class="item-input">
                  <input  value="{{request.customerName}}" type="text" disabled="" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  收款日期
                </div>
                <div class="item-input">
                  <input id="receiptDate" v-model="request.receiptDate | date" type="text" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="item-link smart-select" data-navbar-theme="white" >
              <select v-model="request.costTypeId" id="costTypeId">
                <option v-for="item in response.revenueTypes"  value="{{item.revenueItemId}}">  {{item.revenueItemName}}</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">收入类型</div> 
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="list-block ">
        <ul>
          <li> 
            <a href="#" class="item-link smart-select" data-navbar-theme="white"  v-on:click="selectOrder"> 
              <div class="item-content"> 
                <div class="item-inner"> 
                  <div class="item-title">选择单据</div> 
                </div> 
              </div>
            </a> 
          </li> 
        </ul>
      </div>
      
      <div class="list-block ">
        <ul>
          <li> 
            <a href="#" class="item-link smart-select" data-navbar-theme="white"  v-on:click="selectAccount" > 
              <div class="item-content"> 
                <div class="item-inner"> 
                  <div class="item-title">收款账户</div> 
                </div> 
              </div>
            </a> 
          </li> 
        </ul>
      </div>
      
      <div class="row" v-if="request.sourceDetailList.length>0">
        <div class="col-auto">
          <div class="content-block-title text-right">
            收款单据(总额:<span>{{totalReceiptMoney | currencys}}</span>)
          </div>
          <div class="list-block media-list">
            <ul>
              <li v-for="item in request.sourceDetailList">
                <a class="item-content item-link" href="#">
                  <div class="item-media">
                    <img :src="item.userLogo">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">
                        {{item.sourceTypeName}}
                      </div>
                      <div class="item-after">
                        单据金额:{{item.receiptMoney | currencys}}
                      </div>
                    </div>
                    <div class="item-subtitle" style="font-size: 13px;">
                        单据号码:<span>{{item.sourceNo}}</span> 
                    </div>
                    <div class="item-text">
                      未收:<span>{{item.unreceivedMoney | currencys}}</span> |
                      已收:<span>{{item.receivedMoney | currencys}}</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
      </div>
        </div>
      <div class="row" v-if="request.detailList.length>0">
        <div class="col-auto">
          <div class="content-block-title text-right">
            收款账户(总额:<span>{{totalAccountMoney | currencys}}</span>)
          </div>
          <div class="list-block">
            <ul>
              <li v-for="item in request.detailList">
                <a v-on:click="updateAccount(item)" href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">
                      {{item.accountName}}
                    </div>
                    <div class="item-after">
                      {{item.receiptMoney | currencys}}
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  备注
                </div>
                <div class="item-input">
                  <textarea placeholder="备注" v-model="request.description" class="resizable"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="list-block">
        <ul>
          <li>
            <a href="#" class="item-link smart-select" data-navbar-theme="white" data-searchbar="true" data-searchbar-placeholder="选择经手人" data-searchbar-cancel="取消">
              <select v-model="request.sponsorId" id="sponsorId">
                <option v-for="item in response.users" value="{{item.userId}}">{{item.employeeName}}</option> 
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">经手人</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>