<div class="pages">
  <div data-page="saleBatch_deliverOrder_editKind" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
              <i class="icon icon-back"></i>
              返回
            </a>
        </div>
        <div class="center sliding">编辑货品</div>
        <div class="right">
            <a v-on:click="saveKind" href="#" class="link"> 
                确认
            </a>
        </div>
      </div>
    </div>
  
       <div class="page-content">

      <div v-if="response.selectedKind.length>0">
        <div class="content-block-title">
          已选货品
        </div> 
        <div class="content-block">
          <div class="list-block">
            <ul>
              <li class="item-content" v-for="item in response.selectedKind">
                <div class="item-inner">
                  <div class="item-title">
                    颜色:<span>{{item.kind.colorName}}</span> |
                    尺码:<span>{{item.kind.sizeText}}</span>
                  </div>
                  <div class="item-after">
                    <span class="badge">{{item.deliverAmount}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-block">
        <ul>
          <li>
            <a href="#" class="item-link smart-select" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="选择颜色" data-searchbar-cancel="取消">
              <select name="car" multiple v-model="request.colorId">
                <option v-for="item in response.kindDetail.colorList"  value="{{item.colorId}}"> {{item.colorName}}</option>
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">货品颜色</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link smart-select" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="选择尺码" data-searchbar-cancel="取消">
                <select name="car" multiple v-model="request.sizeId">
                  <option v-for="item in response.kindDetail.sizeList"  value="{{item.sizeId}}"> {{item.sizeText}}</option>
                </select>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">货品尺码</div>
                  </div>
                </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="content-block-title">销售信息</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  数量
                </div>
                <div class="item-input">
                  <input type="number" v-model="request.deliverAmount" v-on:keyup="calculate">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  销售价
                </div>
                <div class="item-input">
                  <input type="number" v-model="request.wholesalePrice" v-on:keyup="calculate">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  折扣率%
                </div>
                <div class="item-input">
                  <input type="number" v-model="request.discountRate" v-on:keyup="calculate">
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="list-block-label">
          <p class="text-right">
            吊牌价:<span>{{request.salePrice | currency}}</span>
            &nbsp;&nbsp;
            金额:<span>{{request.deliverMoney | currency}}</span>
          </p>
        </div>
      </div>

      <div class="content-block-title">
        其他
      </div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">                
                <div class="item-title label">
                  备注
                </div>
                <div class="item-input">
                  <textarea class="resizable" placeholder="备注" maxlength="100" v-model="request.description"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="content-block-title">
        货品基本信息
      </div> 
      <div class="list-block media-list">
        <ul>
          <li>
            <div class="item-content">
                <kind-info :kind="response.kindDetail"></kind-info>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>