<div class="pages">
  <div data-page="saleBatch_deliverOrder_editKindPrice" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
              <i class="icon iconfont icon-fanhui"></i>
            </a>
        </div>
        <div class="center sliding">编辑货品</div>
        <div class="right">
            <a v-on:click="saveKind" href="#" class="link"> 
               <i class="icon iconfont icon-save1"></i>
            </a>
        </div>
      </div>
    </div>
  
    <div class="page-content">

    <div class="list-block ">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">
                    <span >{{kind.kind.kindName}} </span>
                    </div>
                    <div >
                      
                    </div>
                  </div>
                </div>
              </li>
            </ul>
       </div>
       
      <div class="content-block-title">出货信息</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  单价
                </div>
                <div class="item-input">
                  <input type="number" v-model="request.wholesalePrice" v-on:keyup="calculate">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  数量
                </div>
                <div class="item-input">
                  <input type="number" v-model="request.deliverAmount"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  v-on:keyup="calculate">
                </div>
              </div>
            </div>
          </li>
          
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  折扣率%
                </div>
                <div class="item-input">
                  <input type="number" v-model="request.discountRate" v-on:keyup="calculate">
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="list-block-label">
          <p class="text-right">
            吊牌价:<span>{{request.salePrice | currency}}</span>
            &nbsp;&nbsp;
            金额:<span>{{request.deliverMoney | currency}}</span>
          </p>
        </div>
      </div>

      <div class="content-block-title">
        其他
      </div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">                
                <div class="item-title label">
                  备注
                </div>
                <div class="item-input">
                  <textarea class="resizable" placeholder="备注" maxlength="100" v-model="request.description"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>    

      <div class="content-block inline-delete">
          <delete-kind :data.sync="detailList" :kind="kind" v-on:delete="delete(kind)" style="width: 300px;"></delete-kind>
      </div>
 
    </div>
  </div>
</div>