
<div class="pages">
  <div data-page="purchase_payOrder_selectSources" class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
              <i class="icon icon-back"></i>
              返回
            </a>
        </div>
        <div class="center sliding">单据选择({{response.total}})</div>
        <div class="right">
          <a v-on:click="save" href="#" class="link">
            保存选择
          </a>
        </div>
      </div>
    </div>
  
    <div class="page-content pull-to-refresh-content">
      
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>

      <div>
        <div>
          <div class="list-block media-list inset">
            <ul>
              <li v-for="item in response.data">
                <label class="label-checkbox item-content">
                  <input type="checkbox" v-model="item.isChecked">
                  <div class="item-media">
                    <i class="icon icon-form-checkbox"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">{{item.sourceNo}}</div>
                      <div class="item-after">{{item.sourceTypeName}}</div>
                    </div>
                    <div class="item-subtitle">
                      单据日期:<span>{{item.sourceDate | date}}</span> |
                      未收金额:<span>{{item.unpaidMoney  | currency}}</span>
                    </div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <load-more :total="response.total" :data="response.data" v-on:load="load"></load-more>
        </div>
      </div>
    </div>
  </div>
</div>