<div class="pages">
  <div data-page="warehouse_shopTransfer_editKindPrice" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
                <i class="icon iconfont icon-fanhui"></i>
            </a>
        </div>
        <div class="center sliding">修改信息</div>
        <div class="right">
            <a v-on:click="save" href="#" class="link"> 
               <i class="icon iconfont icon-save1"></i>
            </a>
        </div>
      </div>
    </div>
  
    <div class="page-content">
      
      <div class="content-block-title">
        调拨信息
      </div>
      <div class="list-block ">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  调拨数量
                </div>
                <div class="item-input">
                  <input type="number"  v-on:keyup="calculate" v-model="request.transferAmount">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="content-block-title">
        货品信息
      </div>
      <div class="list-block">
        <ul>
          <li>
                <a href="#" class="item-link smart-select" data-navbar-theme="white">
                    <select v-model="request.colorId" id="colorId">
                        <option v-for="item in request.colorList" value="{{item.colorId}}">{{item.colorName}}</option>
                    </select>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">货品颜色</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-link smart-select" data-navbar-theme="white">
                    <select v-model="request.sizeId" id="sizeId">
                        <option v-for="item in request.sizeList" value="{{item.sizeId}}">{{item.sizeText}}</option>
                    </select>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">货品尺码</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
      </div>

      <div class="content-block-title">
        其他
      </div>
      <div class="list-block ">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">
                  货品交期
                </div>
                <div class="item-input">
                  <input id="deliverDate" placeholder="交期" type="text" v-model="request.deliverDate">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">                
                <div class="item-title label">
                  备注
                </div>
                <div class="item-input">
                  <textarea class="resizable" placeholder="备注" maxlength="100" v-model="request.description"></textarea>
                </div>
              </div>
            </div>
          </li>



        


        </ul>
      </div>


      <div class="content-block inline-delete">
          <delete-kind :data.sync="detailList" :kind="kind" v-on:delete="delete(kind)" style="width: 300px;"></delete-kind>
      </div>



    </div>
  </div>
</div>