<div class="pages">
  <div data-page="purchase_receiveOrder_add" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a  v-on:click="back" href="#" class="link">
            <i class="icon icon-back"></i>
            退出
          </a>
        </div>
        <div class="center sliding">收货单录入</div>
        <div class="right">
          <a v-on:click="save" href="#" class="link">
            保存
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="content-block-title">采购供应商</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-supplier :source="response.suppliers" :data.sync="request.supplierId" max="1" edit-status=true></select-supplier>
        </div>
      </div>
    
      <div class="content-block-title">收货单基本信息</div>
      <div class="list-block inset">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">收货日期</div>
                <div class="item-input">
                  <input v-model="request.receiveDate" closeOnSelect="true" id="receiveDate" type="text" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-jpy"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">预付金额</div>
                <div class="item-input">
                  <input type="number" v-model='request.advanceMoney' />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-jpy"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">备注</div>
                <div class="item-input">
                  <input type="text" v-model='request.description' />
                </div>
              </div>
            </div>
          </li>        
        </ul>
      </div>
      
      <div class="content-block-title">结算账户</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-account :source="response.accounts" :data.sync="request.accountId" max="1"></select-account>
        </div>
      </div>
      <!--菜单栏-->
      <div class="content-block inset">
        <div class="content-block-inner">
          <purchase-receive-menu :list="request.detailList" v-on:import="import"></purchase-receive-menu>
        </div>
      </div>
      <div class="content-block-title">
        货品信息(总数:<span>{{request.detailList | arraySum 'receiveAmount'}}</span>,总额:{{totalReceiveMoney | currency}})
      </div>
      <div  class="content-block">
        <div class="row">
          <div class="col-auto">
              <div class="purchase_receiveOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 0">
                <purchase-receive-detail :list="request.detailList" :detail="item"></purchase-receive-detail>
              </div>
          </div>
          <div class="col-auto">
              <div class="purchase_receiveOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 1">
                <purchase-receive-detail :list="request.detailList" :detail="item"></purchase-receive-detail>
              </div>
          </div>
          <div class="col-auto">
              <div class="purchase_receiveOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 2">
                <purchase-receive-detail :list="request.detailList" :detail="item"></purchase-receive-detail>
              </div>
          </div>
        </div>
      </div>
      <div v-if="request.detailList.length==0">
        <order-plus></order-plus>
      </div>
      <div class="content-block-title">收货人</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-user :source="response.users"
            :data.sync="request.sponsorId" max="1">
          </select-user>
        </div>
      </div>
    </div>
  </div>
</div>