<div class="pages">
    <div data-page="purchase_returnOrder_add" class="page">
        <!-- 导航区 -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" v-on:click="back" class="link">
                        <i class="icon iconfont icon-fanhui"></i>
                    </a>
                </div>
                <div class="center sliding">退货单录入</div>
                <div class="right">
                    <a v-on:click="save" href="#" class="link">
                        <i class="icon iconfont icon-save1"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--  内容区 -->
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-navbar-theme="white">
                            <select v-model="request.supplierId" id="supplierId">
                <option v-for="item in response.suppliers"  value="{{item.companyId}}">   {{item.companyName}}</option>
              </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">采购供应商</div>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="content-block-title">退货基本信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">退货日期</div>
                                <div class="item-input">
                                    <input v-model="request.returnDate" id="returnDate" type="text" />
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">本次退款</div>
                                <div class="item-input">
                                    <input type="number" v-model='request.advanceMoney' />
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="item-link smart-select" data-navbar-theme="white">
                            <select v-model="request.accountId" id="accountId">
                                  <option v-for="item in response.accounts"  value="{{item.accountId}}">   {{item.accountName}}</option>
                            </select>
                            <div class="item-content">

                                <div class="item-inner">
                                    <div class="item-title">结算账户</div>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>



            <div class="list-block" style="text-align: right;min-height: 44px;">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">选择商品</div>
                                <div href="#" class="link" v-on:click="scanKind" style="margin-right: 200px;">
                                    <select-barcode :data.sync="request.detailList" order="11" edit="purchase/purchaseOrder/editKindPrice.ios.html"></select-barcode>
                                </div>
                                <select-order-kind :data.sync="request.detailList" edit="purchase/purchaseOrder/editKind.ios.html" v-on:select="selectKind"></select-order-kind>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="content-block-title" v-if="request.detailList.length>0"> 
                货品信息(总数:{{request.detailList | arraySum 'returnAmount'}},总额:{{totalReturnMoney | currencys}})
            </div>
            <div class="list-block media-list" v-if="request.detailList.length>0">
                <ul>
                    <li v-for="item in request.detailList" class="swipeout">
                        <div class="swipeout-content">
                            <a href="#" class="item-content">
                                <div class="item-media">
                                    <div>
                                        <kind-img :kind-id="item.kindId" :color-id="item.colorId"></kind-img>
                                    </div>
                                </div>

                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">{{item.kindName}}({{item.kindNo}})</div>
                                        <div class="item-after">
                                            <edit-kind :data.sync="request" :kind="item" edit="purchase/returnOrder/editKindPrice.ios.html"></edit-kind>
                                        </div>
                                    </div>
                                    <div class="item-text" >
                                        <div class="row no-gutter"> 
                                            <span class="col-33">品牌:{{item.brandName}}</span>
                                            <span class="col-33">颜色:{{item.colorName}}</span>
                                            <span class="col-33">尺码:{{item.sizeText}}</span>
                                        </div>
                                        <div class="row no-gutter">
                                             <span class="col-33">数量:{{item.returnAmount}}</span>
                                             <span class="col-33">单价:{{item.returnPrice|currencys}}</span>
                                             <span class="col-33">金额:{{item.returnMoney|currencys}}</span>
                                        </div>
                                    </div>

                                </div>


                            </a>
                        </div>
                    </li>
                </ul>
                <div v-if="request.detailList.length==0">
                    <div class="content-block">
                        <div class="content-block-inner">
                            <div class="text-center">
                                <!--   <i class="fa fa-cart-plus fa-3x"></i> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">
                                    备注
                                </div>
                                <div class="item-input">
                                    <textarea class="resizable" maxlength="100" v-model="request.description"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-navbar-theme="white">
                             <select v-model="request.employeeId" id="employeeId">
                               <option v-for="item in response.users"  value="{{item.employeeId}}">   {{item.employeeName}}</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">退货人</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>



        </div>

    </div>
</div>