<div class="pages">
  <div class="page" data-page="purchase_returnOrder_editKindPrice">
    <!--导航栏-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link">
             <i class="icon iconfont icon-fanhui"></i> 
          </a>
        </div>
        <div class="center sliding">修改信息</div>
        <div class="right">
          <a v-on:click="save" href="#" class="link">
              <i class="icon iconfont icon-save1"></i>
          </a>
        </div>
      </div>
    </div>
    <!--内容区-->
    <div class="page-content">
    
      <div class="list-block ">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label2">
                    <span >{{kind.kind.kindName}} </span>
                    </div>
                    <div >
                      
                    </div>
                  </div>
                </div>
              </li>
            </ul>
       </div>


         <div class="content-block-title">退货信息
            <span  style="float: right;" >
                吊牌价:<span>{{request.salePrice | currency}}</span>
                &nbsp;&nbsp;
                金额:<span>{{request.returnMoney | currency}}</span>
             </span>
         </div>


      <div  class="list-block ">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">单价</div>
                <div class="item-input">
                  <input type="number"  v-model="request.returnPrice"  v-on:keyup="calculate"  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">数量</div>
                <div class="item-input">
                  <input type="number"  min="1" max="99999" v-model="request.returnAmount" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  v-on:keyup="calculate">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">折扣率%</div>
                <div class="item-input">
                  <input type="number" v-model='request.discountRate' v-on:keyup="calculate" placeholder="折扣率">
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
      <div class="content-block-title">税务信息
             <span  style="float: right;" >
                税额:<span> {{request.taxMoney | currency}}</span>
                &nbsp;&nbsp;
                金额(去税):<span> {{(request.returnMoney-request.taxMoney) | currency}}</span>
             </span>
      </div>
      <div  class="list-block ">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">税率</div>
                <div class="item-input">
                  <input type="number" v-model="request.taxRate"  v-on:keyup="calculate" placeholder="税率">
                </div>
              </div>
            </div>
          </li>
         
      </ul>

          <div  class="list-block ">
              <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">备注</div>
                        <div class="item-input">
                          <input type="text" v-model="request.description"  name="name" placeholder="备注">
                        </div>
                      </div>
                    </div>
                  </li>
              </ul>
          </div>


    </div>


      <div class="content-block inline-delete">
          <delete-kind :data.sync="detailList" :kind="kind" v-on:delete="delete(kind)" style="width: 300px;"></delete-kind>

      </div>


  </div>
</div>
</div>

