

.warehouse_default_chart{
	height: 400px;
}


.warehouse_default_dashborad{
	color:#fff;
	padding: 15px;
	margin-bottom: 15px;
	font-size:17px;
}

.warehouse_default_menu{
	background-color:  rgb(255,255,255);
	padding: 15px;
}
.warehouse_profitLossOrder_add_kindItem{
	padding-bottom: 14px;
	margin-bottom: 15px;
	background-color: rgb(255,255,255);
}
.warehouse_checkStockOrder_add_kindItem{
	padding-bottom: 14px;
	margin-bottom: 15px;
	background-color: rgb(255,255,255);
}

.warehouse_checkStockOrder_add_kindItem .title{
	font-size: 17px;
	color:#2A85C3;
	padding-top: 10px;
}