<div class="pages">
	<div data-page="warehouse_checkStockOrder_update" class="page">
		  <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link">
           <i class="icon icon-back"></i> 
            退出
          </a>
        </div>
        <div class="center sliding">盘点单修改({{request.checkStockOrderNo}})</div>
        <div class="right">
          <a v-on:click="save" href="#" class="link"> 
           保存
          </a>
        </div>
      </div>
    </div>
    <div class="page-content pull-to-refresh-content">

      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
        
      <div class="content-block-title">盘点信息</div>
      <div class="list-block inset">
          <ul>
            <li>
              <div href="#" class="item-content">
                <div class="item-media">
                    <i class="fa fa-key"></i>  
                </div>
                <div class="item-inner">
                  <div class="item-title">盘点单号</div>
                  <div class="item-after">{{request.checkStockOrderNo}}</div>
                </div>
              </div>
            </li>
            <li>
              <div href="#" class="item-content">
                <div class="item-media">
                    <i class="fa fa-key"></i>  
                </div>
                <div class="item-inner">
                  <div class="item-input">盘点级别</div>
                  <select v-model="request.checkStockLevelId"  type="text" >
                   <option value="0">全部</option>
                   <option value="1">SKU</option>
                   <option value="2">货号盘点</option>         
                  </select>
                </div>
              </div>
            </li>
            <li>
              <div href="#" class="item-content">
                <div class="item-media">
                     <i class="fa fa-clock-o"></i>
                </div>
                <div class="item-inner">
                 	<div class="item-title label">盘点日期</div>
                <div class="item-input">
                  <input v-model="request.checkStockDate | date" id="checkStockDate" type="text" />
                </div>
                </div>
              </div>
            </li>
            <li>
	            <div class="item-content">
	              <div class="item-media">
	                <i class="fa fa-sticky-note"></i>
	              </div>
	              <div class="item-inner">                
	                <div class="item-title label">
	                  备注
	                </div>
	                <div class="item-input">
	                  <textarea class="resizable" maxlength="100" v-model="request.description"></textarea>
	                </div>
	              </div>
	            </div>
            </li> 
          </ul>
      </div>

         <!--菜单栏-->
      <div class="content-block inset">
        <div class="content-block-inner">
          <div class="row no-gutter">
            <div class="col-auto">
              <select-order-kind :data.sync="request.detailList" edit="warehouse/checkStockOrder/editKind.ios.html"></select-order-kind>
            </div>
            <div v-on:click="scanKind" class="col-auto">
              <div class="text-center">
                <i class="fa fa-barcode fa-3x"></i>
              </div>
              <div class="text-center">扫描条码</div>
            </div>
            <div data-order="asc" class="col-auto">
              <sort-amount :data.sync="request.detailList" prop="checkAmount"></sort-amount>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block-title">
          货品信息(盘点总数:{{totalCheckStockAmount}})
      </div>
       <div>
        <div class="content-block">          
          <div class="row">
            <div class="col-auto">
                <div class="wareshouse_checkStockOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 0">
                  <warehouse-checkstock-detail v-on:delete="delete" :list="request.detailList" :detail="item"></warehouse-checkstock-detail>
                </div>
            </div>
            <div class="col-auto">
                <div class="wareshouse_checkStockOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 1">
                  <warehouse-checkstock-detail v-on:delete="delete" :list="request.detailList" :detail="item"></warehouse-checkstock-detail>
                </div>
            </div>
            <div class="col-auto">
                <div class="wareshouse_checkStockOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 2">
                  <warehouse-checkstock-detail v-on:delete="delete" :list="request.detailList" :detail="item"></warehouse-checkstock-detail>
                </div>
            </div>
          </div>
        </div>
        <div v-if="request.detailList.length==0">
          <order-plus></order-plus>
        </div>
      </div>
      <div class="content-block-title">经手人</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-user :source="response.users"
                       :data.sync="request.sponsorId" max="1">
          </select-user>
        </div>
      </div>
    </div>
	</div>
</div>