
<div class="pages">
  <div data-page="purchase_purchaseOrder_update" class="page">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
              <i class="icon icon-back"></i>
              退出
            </a>
        </div>
        <div class="center sliding">采购订单修改({{request.purchaseOrderNo}})</div>
        <div class="right">
            <a v-on:click="save" href="#" class="link"> 
                保存修改
            </a>
        </div>
      </div>
    </div>

    <div class="page-content">
      
      <div class="content-block-title">采购供应商</div>
      <div class="content-block inset">
          <div class="content-block-inner">
            <select-supplier :source="response.suppliers" :data.sync="request.supplierId" max="1" edit-status=true></select-supplier>
          </div>
      </div>

      <div class="content-block-title">采购信息</div>
      <div class="list-block inset">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">订单交期</div>
                <div class="item-input">
                   <input v-model="request.deliverDate | date" type="text" id="deliverDate" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">下单日期</div>
                <div class="item-input">
                   <input v-model="request.placeDate | date" type="text" id="placeDate" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-jpy"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">预付金额</div>
                <div class="item-input">
                   <input v-model="request.advanceMoney" type="number" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-sticky-note"></i>
              </div>
              <div class="item-inner">                
                <div class="item-title label">
                  备注
                </div>
                <div class="item-input">
                  <textarea class="resizable" placeholder="备注" maxlength="100" v-model="request.description"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!--菜单栏-->
      <div class="content-block inset">
        <div class="content-block-inner">
          <purchase-purchase-menu :list.sync="request.detailList"></purchase-purchase-menu>
        </div>
      </div>

      <div class="content-block-title">
          货品信息(总数:<span>{{request.detailList | arraySum 'purchaseAmount'}}</span>,总额:{{totalPurchaseMoney | currency}})
      </div>
      <div>
        <div class="content-block">          
          <div class="row">
            <div class="col-auto">
              <div class="purchase_purchaseOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 0">
                <purchase-purchase-detail v-on:delete="delete" :list="request.detailList" :detail="item"></purchase-purchase-detail>
              </div>
            </div>
            <div class="col-auto">
              <div class="purchase_purchaseOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 1">
                <purchase-purchase-detail v-on:delete="delete" :list="request.detailList" :detail="item"></purchase-purchase-detail>
              </div>
            </div>
            <div class="col-auto">
              <div class="purchase_purchaseOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 2">
                <purchase-purchase-detail v-on:delete="delete" :list="request.detailList" :detail="item"></purchase-purchase-detail>
              </div>
            </div>            
          </div>
        </div>
        <div v-if="request.detailList.length==0">
          <order-plus></order-plus>
        </div>
      </div>

      <div class="content-block-title">采购人</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-user :source="response.users"
                       :data.sync="request.sponsorId" max="1">
          </select-user>
        </div>
      </div>
     
    </div>

  </div>
</div>