<div class="pages">
   <div class="page" data-page="purchase_receiveOrder_purchaselist">
       <!--搜索栏-->
    <form class="searchbar searchbar-init" data-custom-search="true">
        <div class="searchbar-input">
            <input v-model="request.orderNo" type="search" placeholder="采购订单号">
            <a href="#" class="searchbar-clear">
            </a>
        </div>
        <a v-on:click="loadOrderList" href="#" class="searchbar-cancel">检索</a>
    </form>

    <div class="searchbar-overlay"></div>
    
    <!--导航栏-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
              <i class="icon iconfont icon-fanhui"></i>
            </a>
        </div>
        <div class="center sliding">选择采购订单</div>
        <div class="right">
             <a v-on:click="save" href="#"> 
                <i class="icon iconfont icon-save1"></i> 
            </a>
           
        </div>
      </div>
    </div>
    
    <!--内容区-->
    <div class="page-content" style="padding-top:65px;">

        <div class="content-block-title" style="margin:40px 15px 10px;">采购订单单号</div>
        <div class="content-block" style="padding:0 5px;">
          <div v-on:click="slectOrder(item)"  v-bind:class="[item.isActive ? 'bg-green' : '','chip']" 
               v-for="item in response.data" style="margin:2px 1px;  width: 185px;">
            <div class="chip-media">
              <img :src="item.userLogo">
            </div>
            <div class="chip-label">{{item.orderNo}}/{{item.purchaseAmount}}</div>
          </div>
        </div>

        <div class="content-block-title">采购订单货品列表</div>
        <div class="list-block media-list">
          <ul>
            <li v-for="item in response.kinds">
              <label class="label-checkbox item-content">
                <input type="checkbox" v-model="item.isChecked">
                <div class="item-media">
                  <span>
                    <i class="icon icon-form-checkbox"></i>
                    &nbsp;&nbsp;
                  </span>
                  <span><kind-img :kind-id="item.kind.kindId"></kind-img></span>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">{{item.kind.kindName}} </div>
                    <div class="item-after" style="font-size: 13px;">
                      原数量:{{item.originQty}}/已传数量:{{item.transferQty1}}
                    </div>                  
                  </div>
                  <div class="item-subtitle" style="font-size: 13px;">
                       {{item.kind.brandName}} | {{item.kind.kindNo}} 
                  </div>
                  <div class="item-text" style="font-size: 13px;">
                     {{item.kind.colorName}} |  {{item.kind.sizeText}}| {{item.kind.unitName}}
                  </div>
                </div>
              </label>
            </li>
          </ul>
        </div>
                 
     </div>
   </div>
</div>
   