<div class="pages">
  <div data-page="purchase_returnOrder_add" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link">
            <i class="icon icon-back"></i>
            退出
          </a>
        </div>
        <div class="center sliding">退货单录入</div>
        <div class="right">
          <a v-on:click="save" href="#" class="link">
            保存
          </a>
        </div>
      </div>
    </div>
    
    <div class="page-content">
      <div class="content-block-title">供应商</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-supplier :source="response.suppliers" :data.sync="request.supplierId" max="1" edit-status=true></select-supplier>
        </div>
      </div>

      <div class="content-block-title">结算账户</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-account :source="response.accounts" :data.sync="request.accountId" max="1"></select-account>
        </div>
      </div>

      <div class="content-block-title">退货基本信息</div>
      <div class="list-block inset">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">退货日期</div>
                <div class="item-input">
                  <input v-model="request.returnDate" id="returnDate" type="text" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-jpy"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">本次退款</div>
                <div class="item-input">
                  <input type="number" v-model='request.advanceMoney' placeholder="退款金额" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media">
                <i class="fa fa-sticky-note"></i>
              </div>
              <div class="item-inner">
                <div class="item-title label">
                  备注
                </div>
                <div class="item-input">
                  <textarea class="resizable" placeholder="备注" maxlength="100" v-model="request.description"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--菜单栏-->
      <div class="content-block inset">
          <div class="content-block-inner">
              <purchase-return-menu :list="request.detailList" v-on:import="import"></purchase-return-menu>
          </div>
      </div>

      <div class="content-block-title">
        货品信息(总数:{{request.detailList | arraySum 'returnAmount'}},总额:{{totalReturnMoney | currency}})
      </div>
      <div  class="content-block">
        <div class="row">
          <div class="col-auto">
              <div class="purchase_returnOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 0">
                <purchase-return-detail :list="request.detailList" :detail="item"></purchase-return-detail>
              </div>
          </div>
          <div class="col-auto">
              <div class="purchase_returnOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 1">
                <purchase-return-detail :list="request.detailList" :detail="item"></purchase-return-detail>
              </div>
          </div>
          <div class="col-auto">
              <div class="purchase_returnOrder_add_kindItem" v-for="item in request.detailList | arraySkip 3 2">
                <purchase-return-detail :list="request.detailList" :detail="item"></purchase-return-detail>
              </div>
          </div>
        </div>
        <div v-if="request.detailList.length==0">
          <order-plus></order-plus>
        </div>
      </div>
      
      <div class="content-block-title">退货人</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <select-user :source="response.users"
            :data.sync="request.sponsorId" max="1">
          </select-user>
        </div>
      </div>
    </div>
  </div>
</div>