<div class="pages">
  <div data-page="purchase_returnOrder_editKind" class="page">
    <!--导航栏-->
    <div class="navbar">
        <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
                <i class="icon icon-back"></i>
              返回
            </a>
        </div>
        <div class="center sliding">编辑货品</div>
        <div class="right">
             <a v-on:click="save" href="#" class="link"> 
               确认
             </a>
        </div>
      </div>
      </div>
       <!--内容区-->
      <div class="page-content">
          <div v-if="response.selectedKind.length>0">
            <div class="content-block-title">
              已选货品
            </div> 
            <div class="content-block">
              <div class="list-block">
                <ul>
                  <li class="item-content" v-for="item in response.selectedKind">
                    <div class="item-inner">
                      <div class="item-title">
                        颜色:<span>{{item.kind.colorName}}</span> |
                        尺码:<span>{{item.kind.sizeText}}</span>
                      </div>
                      <div class="item-after">
                        <span class="badge">{{item.returnAmount}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
           </div>
         </div>

         <div class="content-block-title">
          货品颜色
         </div> 
         <div  class="content-block inset">
         <div class="content-block-inner"> 
           <select-color :source="response.kindDetail.colorList"
                      :data="request.colorId" max="30"
                      :kind-id="response.kindDetail.kindId"></select-color>
        </div>
        </div>
        <div class="content-block-title">
          货品尺码
        </div>
        <div class="content-block inset">
          <div class="content-block-inner">
           <select-size :source="response.kindDetail.sizeList"
                       :data.sync="request.sizeId" max="30"
                       :kind-id="response.kindDetail.kindId"
                       :size-group-id="response.kindDetail.sizeGroupId"></select-size>
          </div>
        </div>
         <div class="content-block-title">退货信息</div>
          <div  class="list-block inset">
            <ul>
               <li>
               <div class="item-content">
                   <div class="item-media">
                          <i class="fa fa-jpy"></i>
                   </div>
                   <div class="item-inner">
                      <div class="item-title label">单价</div>
                        <div class="item-input">
                          <input type="number"  v-model="request.returnPrice" v-on:keyup="calculate">
                      </div>
                   </div>
                </div>
               </li>
               <li>
               <div class="item-content">
                   <div class="item-media">
                        <i class="fa fa-shopping-basket"></i>
                   </div>
                   <div class="item-inner">
                      <div class="item-title label">数量</div>
                        <div class="item-input">
                          <input type="number" v-model="request.returnAmount" v-on:keyup="calculate">
                      </div>
                   </div>
                </div>
               </li>
               <li>
               <div class="item-content">
                   <div class="item-media">
                        <i class="fa fa-area-chart"></i>
                   </div>
                   <div class="item-inner">
                      <div class="item-title label">折扣率%</div>
                        <div class="item-input">
                          <input type="number" v-model='request.discountRate' v-on:keyup="calculate">
                      </div>
                   </div>
                </div>
               </li>
            </ul> 
            <div class="list-block-label">
              <p class="text-right">
                吊牌价:<span>{{request.salePrice | currency}}</span>
                &nbsp;&nbsp;
                金额:<span>{{request.returnMoney | currency}}</span>
              </p>
          </div>  
          </div>
          <div class="content-block-title">
            税务信息
          </div>
          <div class="list-block inset">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fa fa-area-chart"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title label">
                      税率%
                    </div>
                    <div class="item-input">
                      <input v-model="request.taxRate" type="number" v-on:keyup="calculate">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="list-block-label">
              <p class="text-right">
                税额:<span>{{request.taxMoney | currency}}</span>
                &nbsp;&nbsp;
                金额(去税):<span>{{(request.returnMoney-request.taxMoney) | currency}}</span>
              </p>
            </div>
          </div>      

         <div class="content-block-title">其他</div>
         <div  class="list-block inset">
          <ul>
            <li>
               <div class="item-content">
                   <div class="item-media">
                         <i class="fa fa-sticky-note"></i>
                   </div>
                   <div class="item-inner">
                      <div class="item-title label">备注</div>
                        <div class="item-input">
                          <input type="text" v-model="request.description"  name="name" placeholder="备注">
                      </div>
                   </div>
                </div>
            </li>
          </ul>
         </div>    
         
         <div class="content-block-title">货品信息</div>
         <div  class="list-block media-list inset">
            <ul>  
               <li>
                  <div class="item-content">
                      <kind-info :kind="response.kindDetail"></kind-info>
                  </div>
               </li>      
            </ul>
         </div> 
      </div>
  </div>
</div>