<div class="pages">
  <div data-page="warehouse_profitLossOrder_editKind" class="page">
    <!--导航栏-->
    <div class="navbar">
      <div class="navbar-inner">
       <div class="left"> 
       <a href="#" class="back link"> <i class="icon iconfont icon-fanhui"></i> </a> 
      </div> 
        <div class="center sliding">编辑货品</div>
         <div class="right"> 
       <a v-on:click="save" href="#" class="link"> <i class="icon iconfont icon-save1"></i> </a> 
      </div> 
      </div>
    </div>
    <!--内容区-->
    <div class="page-content">

       <div  class="list-block">
              <ul>
                <li>
                  <a href="#" class="item-link smart-select" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="请选择颜色" data-searchbar-cancel="取消">
                    <select v-model="request.colorId">
                      <option v-for="item in response.kindDetail.colorList" value="{{item.colorId}}">{{item.colorName}}</option> 
                    </select>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">颜色</div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="item-link smart-select" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="请选择尺码" data-searchbar-cancel="取消">
                    <select v-model="request.sizeId">
                      <option v-for="item in response.kindDetail.sizeList" value="{{item.sizeId}}">{{item.sizeText}}</option> 
                    </select>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">尺码</div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul> 
       </div>
       <div class="content-block-title">益损信息</div>
       <div  class="list-block">
          <ul>
             <li>
               <div class="item-content">
                   <div class="item-media">
                        <i class="fa fa-shopping-basket"></i>
                   </div>
                   <div class="item-inner">
                      <div class="item-title label">数量</div>
                        <div class="item-input">
                          <input type="number"  min="1" max="99999" v-model="request.profitLossAmount"  name="name" placeholder="数量">
                      </div>
                   </div>
                </div>
             </li>
             <li>
               <div class="item-content">
                   <div class="item-media">
                         <i class="fa fa-sticky-note"></i>
                   </div>
                   <div class="item-inner">
                      <div class="item-title label">备注</div>
                        <div class="item-input">
                          <input type="text" v-model="request.description"  name="name" placeholder="备注">
                      </div>
                   </div>
                </div>
             </li>
          </ul> 
          <div class="list-block-label">
            <p class="text-right">
              库存:<span>{{request.inventory}}</span>
              &nbsp;&nbsp;
              成本价:<span>{{request.retailPrice | currency}}</span>
              &nbsp;&nbsp;
              金额:<span>{{request.profitLossMoney | currency}}</span>
            </p>
          </div>        
          <div class="content-block-title">货品信息</div>
          <div  class="list-block media-list">
            <ul>  
               <li>
                  <div class="item-content">
                    <kind-info :kind="response.kindDetail"></kind-info>
                  </div>
               </li>      
            </ul>
          </div> 
       </div>
    </div>
  </div>
</div>