<div class="pages">
  <div data-page="warehouse_shopStock_list" class="page">
     <!--搜索栏-->
    <form class="searchbar searchbar-init" data-custom-search="true" data-search-list=".list-block-search">
        <div class="searchbar-input">
            <input v-model="request.query.kindText" type="search" placeholder="请输入货品名称或货号">
            <a href="#" class="searchbar-clear">
            </a>
        </div>
        <a v-on:click="refresh" href="#" class="searchbar-cancel">检索</a>
    </form>
    <div class="searchbar-overlay"></div>
    <!--导航栏-->
    <div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> 
             <i class="icon icon-back"></i>
               返回
            </a>
        </div>
        <div class="center sliding">店铺库存({{response.total}})</div>
        <div class="right">        
        </div>
      </div>
    </div>
    <!--内容区-->
    <div class="page-content pull-to-refresh-content">
        <div class="pull-to-refresh-layer">
          <div class="preloader"></div>
          <div class="pull-to-refresh-arrow"></div>
        </div>
        <div>
        <div class="content-block">          
          <div class="row">
              <div class="col-auto" >
                <div v-for="item in response.data|arraySkip 4 0" class="kind_selectKind_kindItem">
                  <a href="warehouse/shopStock/detail.ios.html?kindId={{item.kind.kindId}}&sizeId={{item.size.sizeId}}&colorId={{item.color.colorId}}" class="item-content item-link"> 
                  <div>
                    <div>
                      <kind-img :kind-id="item.kind.kindId" :color-id="item.colorId"></kind-img>
                    </div>
                    <div>
                      <div class="title">货品名称:{{item.kind.kindName}}</div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          品牌:<span>{{item.kind.brandName}} </span>
                        </div>
                        <div class="col-50">
                          货号:<span>{{item.kind.kindNo}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          颜色:<span>{{item.color.colorName}} </span>
                        </div>
                        <div class="col-50">
                          尺码:<span>{{item.size.sizeText}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter"> 
                        <div class="col-50">
                          库存:<span>{{item.qty}} </span>
                        </div>
                      </div> 
                    </div>
                  </div>
                
                  </a>
                </div>
              </div>
             
              <div class="col-auto">
                <div v-for="item in response.data|arraySkip 4 1" class="kind_selectKind_kindItem">
                <a href="warehouse/shopStock/detail.ios.html?kindId={{item.kind.kindId}}&sizeId={{item.size.sizeId}}&colorId={{item.color.colorId}}" class="item-content item-link"> 
                  <div>
                    <div>
                      <kind-img :kind-id="item.kind.kindId" :color-id="item.colorId"></kind-img>
                    </div>
                    <div>
                      <div class="title">货品名称:{{item.kind.kindName}}</div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          品牌:<span>{{item.kind.brandName}} </span>
                        </div>
                        <div class="col-50">
                          货号:<span>{{item.kind.kindNo}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          颜色:<span>{{item.color.colorName}} </span>
                        </div>
                        <div class="col-50">
                          尺码:<span>{{item.size.sizeText}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter"> 
                        <div class="col-50">
                          库存:<span>{{item.qty}} </span>
                        </div>
                      </div> 
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col-auto">
                <div v-for="item in response.data|arraySkip 4 2" class="kind_selectKind_kindItem">
                <a href="warehouse/shopStock/detail.ios.html?kindId={{item.kind.kindId}}&sizeId={{item.size.sizeId}}&colorId={{item.color.colorId}}" class="item-content item-link"> 
                  <div>
                    <div>
                      <kind-img :kind-id="item.kind.kindId" :color-id="item.colorId"></kind-img>
                    </div>
                    <div>
                      <div class="title">货品名称:{{item.kind.kindName}}</div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          品牌:<span>{{item.kind.brandName}} </span>
                        </div>
                        <div class="col-50">
                          货号:<span>{{item.kind.kindNo}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          颜色:<span>{{item.color.colorName}} </span>
                        </div>
                        <div class="col-50">
                          尺码:<span>{{item.size.sizeText}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter"> 
                        <div class="col-50">
                          库存:<span>{{item.qty}} </span>
                        </div>
                      </div> 
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col-auto">
                <div v-for="item in response.data|arraySkip 4 3" class="kind_selectKind_kindItem">
                <a href="warehouse/shopStock/detail.ios.html?kindId={{item.kind.kindId}}&sizeId={{item.size.sizeId}}&colorId={{item.color.colorId}}" class="item-content item-link"> 
                  <div>
                    <div>
                      <kind-img :kind-id="item.kind.kindId"></kind-img>
                    </div>
                    <div>
                      <div class="title">货品名称:{{item.kind.kindName}}</div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          品牌:<span>{{item.kind.brandName}} </span>
                        </div>
                        <div class="col-50">
                          货号:<span>{{item.kind.kindNo}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter">
                        <div class="col-50">
                          颜色:<span>{{item.color.colorName}} </span>
                        </div>
                        <div class="col-50">
                          尺码:<span>{{item.size.sizeText}} </span>
                        </div>
                      </div>
                      <div class="row no-gutter"> 
                        <div class="col-50">
                          库存:<span>{{item.qty}} </span>
                        </div>
                      </div> 
                    </div>
                  </div> 
                  </a>
                </div>     
              </div>
          </div>
        </div>
        <div>
           <load-more :total="response.total" :data="response.data" v-on:load="load"></load-more>
        </div>
        </div>
    </div>
  </div>
</div>